<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{:: #content}, ~{:: title})}">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>User Dashboard</title>
  <link rel="stylesheet" data-th-href="@{'/css/output.css'}" />
  <link rel="stylesheet" data-th-href="@{'/css/index.css'}" />
</head>

<body class="bg-gray-100 font-montserrat">

  <section id="content" class="flex flex-col justify-center items-center min-h-screen text-center px-6">
    <div class="max-w-4xl p-8">
      <h2 class="text-3xl font-bold text-gray-900 mb-4">User Dashboard</h2>
      <p class="text-gray-700 mb-6">
        Welcome, <span class="font-semibold text-gray-800" th:text="${loggedInUser.name}">User Name</span>.
        Manage and track your contacts efficiently.
      </p>
    </div>
  </section>

</body>

</html>
