<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Contact Manager</title>
    <link rel="stylesheet" th:href="@{/css/output.css}" />
    <link rel="stylesheet" th:href="@{/css/index.css}" />
</head>

<body>

    <!-- footer.html -->
    <footer th:fragment="footer" class="bg-gray-900 text-white p-4 mt-8">
        <div class="container mx-auto text-center">
            <p class="text-sm text-gray-400">&copy; 2024 Smart Contact Manager. Developed by Rohit Roy. All rights
                reserved.</p>
        </div>
    </footer>


</body>

</html>